<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai_sublime.min.css">

        <style>#fork{position:fixed;top:0;right:0;_position:absolute;}</style>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-49066702-1', 'stormslowly.github.io');
          ga('send', 'pageview');
        </script>

    </head>
    <body>
        <a href="https://github.com/stormslowly/" id="fork">
            <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
        </a>
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a>
            <div class="introduce">
              <ul class="bits">
                <li>Geeker</li>
                <li>Gamer</li>
                <li>JS</li>
                <li>C</li>
                <li>Noode</li>
                <li>React</li>
                <li>Hippop</li>
                <li>TDD</li>
              </ul>
              <div class="byte">
                That Is An Byte of Me
              </div>
            </div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Shu Pengfei<br />
                A.K.A super<br />
                stormslowly(#)gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/stormslowly">github.com/stormslowly</a><br />
                <a href="http://weibo.com/superfeicn">weibo.com/superfeicn</a><br />
              </p>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
